<%= javascript_include_tag '/assets/gambgame', 'data-turbolinks-track' => true %>
<h2>Choose your Gambfruit!</h2>
<p> Use a Gambseed to spring a Gambfruit, and participate in today's Gambgame. At the end of the day, one of all 
  the players' Gambfruits will be chosen at random. If your Gambfruit or 
  one of the Gambfruits in your Gambfruit branch is chosen, you'll win the Gambgame's prize!</p><br />

<% gambfruits = current_user.gambfruit_branch_gambfruits %>  
<p> If you play in today's Gambgame, you'll have 
  <strong><%= gambfruits.length %> other Gambfruit<%= 's' unless 1 == gambfruits.length %></strong> to participate with.  
</p><br />

<h4 class="text-center">Select a type of fruit, a number, and a color for your Gambfruit:</h4><br />

<div class="row-fluid">
  <div class="span4 gambfruit_options">
    <button id="decFruit" class="option_button">&laquo;</button>
    <% FRUITS.each do |fruit| %>
      <%= image_tag "gambfruits/#{fruit}/#{fruit}_colored.png", title: fruit.capitalize, alt: fruit.capitalize, id: fruit, class: "option_image #{'hidden_option' unless fruit == FRUITS[0]}" %>
    <% end %>
    <button id="incFruit" class="option_button">&raquo;</button>
  </div>
  
  <div class="span4 gambfruit_options">
    <button id="decNumber" class="option_button">&laquo;</button>
      <div class="crop big_num">
        <img class="tens_digit num0" src="/assets/numbers1.png"/>
      </div>
      <div class="crop big_num">
        <img class="units_digit num0" src="/assets/numbers1.png"/>
      </div>
    <button id="incNumber" class="option_button">&raquo;</button>
  </div>
  
  <div class="span4 gambfruit_options">
    <button id="decColor" class="option_button">&laquo;</button>
    <% COLORS.each do |color| %>
      <%= image_tag "gambfruits/brush/#{color}.png", title: color.capitalize, alt: color.capitalize, id: color, class: "option_image #{'hidden_option' unless color == COLORS[0]}" %>
    <% end %>
    <button id="incColor" class="option_button">&raquo;</button>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 gambfruit_options">
    <br />
    <div id="gambfruit">
      <% FRUITS.each do |fruit| %>
        <% COLORS.each do |color| %>
          <%= image_tag "gambfruits/#{fruit}/#{fruit}_#{color}.png", title: "Your Gambfruit", alt: "Your Gambfruit", id: "#{color}_#{fruit}", class: "gambfruit_image #{'hidden_option' unless color == COLORS[0] && fruit == FRUITS[0]}"%>
        <% end %>
      <% end %>
    </div>
    
    <div id="seal_container">
      <%= image_tag "gambfruits/numbers/shield_seal.png", id: "gambfruit_seal"%>
      <div class="crop tens">
        <img class="tens_digit num0" src="/assets/numbers1.png"/>
      </div>
      <div class="crop units">
        <img class="units_digit num0" src="/assets/numbers1.png"/>
      </div>
    </div>
  </div>
</div>

<%= form_tag(gambgame_gamble_path, method: "post") do %>
  <%= hidden_field_tag :fruit, FRUITS[0], id: "fruit_param" %>
  <%= hidden_field_tag :color, COLORS[0], id: "color_param" %>
  <%= hidden_field_tag :number, 0, id: "number_param" %>
  <div style="text-align: center"><%= submit_tag "Gamble!", class: "btn btn-primary btn-default btn-large" %></div>
<% end %>