<!DOCTYPE html>
<html>
<head>
  <title>Gambtree</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <noscript>
    <link rel="stylesheet" href="assets/skel.css" />
    <link rel="stylesheet" href="assets/style.css" />
    <link rel="stylesheet" href="assets/style-noscript.css" />
  </noscript>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body class="index loading">
  <!-- Header -->
  <header id="header" <% if @is_home && !user_signed_in? %>class="alt"<%end%>>
    <h1 id="logo"><a href="<%= root_path %>">Gambtree <span>by Carlos Fernández</span></a></h1>
    <nav id="nav">
      <ul>
        <li class="current"><a href="<%= root_path %>">Welcome<%= ", #{current_user.username}" if user_signed_in? %></a></li>
        <% if user_signed_in? %>
          <li>
              <a href="#" onclick="return false;" style="cursor: default">
                <%= image_tag "players_icon.png", size: "35x30", title: "Gambgame players", alt: "Gambgame players", class: "player_info" %>
                <span class="player_info_text">>Gambgame players:</span>
                <span class="player_info"><%= Gambgame.current.current_players_number %></span>
                <%= image_tag "prize_icon.png", size: "24x24", title: "Gambgame prize", alt: "Gambgame prize", class: "player_info" %>
                <span class="player_info_text">>Gambgame prize:</span>
                <span class="player_info"><%= Gambgame.current.current_prize %></span>
                <%= image_tag "gambfruit_icon.png", size: "41x26", title: "Your Gambfruits", alt: "Your Gambfruits", class: "player_info" %>
                <span class="player_info_text">>Your Gambfruits:</span>
                <span class="player_info"><%= current_user.participating_gambfruits.length %></span>
                <%= image_tag "gambcoin_icon.png", size: "24x24", title: "Gambcoins", alt: "Gambcoins", class: "player_info" %>
                <span class="player_info_text">>Gambcoins:</span>
                <span class="player_info"><%= current_user.coins %></span>
                <%= image_tag "gambseed_icon.png", size: "29x24", title: "Gambseeds", alt: "Gambseeds", class: "player_info" %>
                <span class="player_info_text">>Gambseeds:</span>
                <span class="player_info"><%= current_user.seeds%></span>
              </a>
          </li>
          <li>
              <% leaves_to_add = current_user.pending_requests.count %>
              <a href="<%= gambtree_pending_requests_path%>">
                <%= image_tag "new_leaves.png", size: "24x24", title: "New leaves to add", alt: "New leaves to add", class: "player_info" %>
                <span class="player_info_text">New leaves:</span>
                <span class="player_info"><%= leaves_to_add %></span>
              </a>
          </li>
          <% unless current_user.played? %>
            <li><%= link_to("Play", gambgame_play_path) %></li>
          <% end %>
          <li><%= link_to "Edit account", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, {method: :delete} %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Create Account", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  
  <!-- Main -->
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  <%= yield %>
    
</body>
</html>
